// Here you can add other styles
@import 'vue-select/src/scss/vue-select.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat';
  font-weight: 500;
}
#login {
  background-size: cover;
  #left-side,
  #right-side {
    width: 100%;
  }
  #left-side {
    border-radius: 0 28px 28px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #025FC4;
    justify-content: center;
    align-items: center;
    position: relative;

    #footer {
      color: #fff;
      bottom: 20px;
      position: absolute;
      text-align: center;
      display: block;
      width: 100%;
      left: 0;
    }

    #infotext {
      margin: 50px 0;
      display: inline-table;
      border: 2px solid #fff;
      border-radius: 40px;
      padding: 40px;
      height: 80%;
      width: 80%;
      h5 {
        padding: 20px 30px;
      }
      .info-header {
        display: block;
        text-align: center;
        h2 {
          color: #FFD93C;
          font-weight: 700;
          margin: 10px 0 20px;
        }
        h5 {
          color: #fff;
          font-weight: 400;
        }
      }
      .info-body {
        color: #fff;
        ul {
          margin-bottom: 0;
        }
        li {
          margin-top: 15px;
          font-size: 16px;
        }
      }
    }
    #joinlogo {
      width: 200px;
      margin: -82px auto 0;
      display: table;
    }
    #illustration {
      width: 250px;
      margin: -90px auto 0;
      display: table;
    }
    #identity {
      position: absolute;
      top: 70px;
      left: 50px;

      #logo {
        width: 150px;
      }
      
      p {
        font-family: 'Montserrat';
        font-weight: 500;
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 20px;
      }
    }
  }
  #right-side {
    background-color: transparent;
    padding: 40px 40px 40px 0;

    #docicon {
      width: 45px;
      float: left;
      margin-right: 10px;
    }
    .card {
      border-width: 0;
      border-radius: 8px;
    }
    #message-wrapper {
      border-radius: 0 28px 28px 0;
      box-shadow: 11px 13px 10px rgba(0, 64, 133, 0.15);
      height: 100%;
      width: 100%;
      background: #fff;
      padding: 40px 25%;
      text-align: center;
      #pselogo {
        max-width: 100%;
      }
    }
    form {
      min-width: 300px;
    }
    #daftar-btn {
      position: absolute;
      right: 50px;
      top: 50px;

      @media (max-width: 991px) {
        position: relative;
        right: auto;
        top: 0;
        background: transparent;
        color: #025FC4;
      }
    }
  }
}

#register {
  #right-side-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 50px;
    margin: 10px;
  }
  #right-side {
    width: 100%;
    padding: 50px;
    background-color: #025FC4;

    h3 {
      margin-bottom: 50px;
      padding-bottom: 20px;
      padding-top: 10px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100px;
        height: 4px;
        border-radius: 30px;
        background-color: #025FC4;
        bottom: 0;
        left: 0;
      }
    }
    h5 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 20px;
    }

    hr {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    #action {
      position: sticky;
      bottom: 0;
      padding: 20px 0;
      background: #fff;
      border-top: 1px solid #ddd;
      margin-top: 30px;
      z-index: 9;
    }

    @media (max-width: 991px) {
      padding: 20px;

      h3 {
        font-size: 18px;
      }
    }
  }

  #left-side {
    width: 400px;
    flex: none;
    background-color: #025FC4;

    @media (max-width: 1024px) {
      width: 300px;
    }
    @media (max-width: 991px) {
      width: 100%;
    }

    #identity {
      position: relative;
      margin-top: 70px;
      margin-bottom: 50px;
      margin-left: 50px;

      #logo {
        width: 150px;
      }
      p {
        font-family: 'Montserrat';
        font-weight: 500;
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 20px;
      }

      @media (max-width: 1024px) {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 24px;

        #logo {
          width: 120px;
        }
      }
    }
  }
}


// Sidebar
.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover{
  background-color: #003A79;
}
.c-sidebar {
  background-color: #025FC4 !important;
}
.c-sidebar-brand{
  justify-content: flex-start;
  padding: 1rem;
}
.font-14{
  font-size: 14px;
}
.desktop-only{
  display: block;
}
.mobile-only{
  display: none;
}
div#identity-mobile {
  position: absolute;
  top: 20px;
  left: 20px;

  #logo-mobile {
    width: 100px;
  }
}
@media (max-width: 991px) {

  .desktop-only{
    display: none;
  }
  .mobile-only{
    display: inline-block;
  }
  .c-header{
    background: #025FC4;
  }
  .c-header .c-header-brand img{
    width: 80px;
  }
  .c-header .c-header-nav .c-header-nav-link, .c-header .c-header-nav .c-header-nav-btn{
    color: #fff;
  }
  .c-header .c-header-toggler{
    filter: invert(1);
  }

  .card{
    border: none;

    .card-body{
      padding: 0;
      
      .table-responsive:not(.classic){
        tr{
          background-color: #fff;
          border-top: 10px solid #ebedef;
        }
        th{
          display: none;
        }
        td{
          display: block;
          border: none;
          padding: 20px;
          padding-top: 0;

          &:first-child{
            display: none;
          }
          &:nth-child(2){
            padding-top: 20px;
            font-size: 18px;
            font-weight: bold;
          }

          .btn{
            width: 100%;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-size: 14px;

            
            .mobile-only{
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  .nav-column-mobile{
    .nav{
      flex-direction: column;
      padding: 10px 0;

      .nav-item{
        margin: 5px 10px;
        a{
          border: 1px solid #ddd;
          color: #025FC4;
          border-radius: 10px;
        }
      }
      .nav-item a.active{
        color: #fff;
        background-color: #025FC4;
        border: none;
        border-radius: 10px;
      }
    }
  }
  .tab-content h5{
    padding: 30px 0 10px 0;
    background: #ebedef;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
  }
  .tab-content h5 + hr{
    display: none;
  }
}
.spinner-border{
  color: #fff !important;
}
.modal-title {
  background: transparent !important;
  padding: 0 !important;
}
.bg-blue {
  background-color: #025FC4 !important;
}
.label-strong label{
  font-weight: bold;
}